html {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    max-width:fit-content;
    margin:auto;
    margin-top: 10%;
}

img {
    max-width: 50%;
    margin:auto;
}

.photo {
    max-width: fit-content;
    margin: auto;
}